#body {
	margin-left: 0%;
}
#headerContainer {
	width: 100%;
	border-bottom: 1px solid black;
	display: inline-block;
	border: 1px solid black;
}
#header {
	margin-left: 0%;
}
#headerRow {
}
#headerLogo {
	background-color: red;
	text-align: center;
	width: 10em;
	height: 100%;
}
#headerLogoText {
	display: inline-block;
	height: 100%;
	width: 100%;
	color: white;
	font-style: italic;
	font-size: 300%;
	font-weight: 900;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
	text-decoration: none !important;
}
.headerItem {
	width: 15em;
	height: 100%;
	padding: 0;
}
.headerText {
	display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%; 
  	width: 100%;
	color: black;
	font-style: italic;
	font-size: 150%;
	font-weight: 900;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
	text-decoration: none !important;
}
#menMenu {
	display: none;
	height: 10em;
}
#womenMenu {
	display: none;
	height: 10em;
}
#menItems tr td {
	text-align: center;
}
#menItems tr td a{
	display: inline-block;
  	height: 100%;
  	width: 80%;
	color: black;
	font-style: italic;
	font-size: 75%;
	font-weight: 900;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
	text-decoration: none !important;
}